@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.notes_main {  
max-width:100%;
background-color:rgba(148, 142, 142, 0.13);
height:100vh;
}


.note {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    color:black;
    padding: 15px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    width:400px;
    font-weight:800;
}

.notes_container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    
}

.note_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.createNote_title,.createNote_body textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: #0e0101;
    resize: none;
    font-size: 18px;
    
}

.createNote_title,.createNote_body textarea:focus {
    outline: none;
}

.createNote_title,.createNote_body textarea::placeholder {
    color: #0e0d0d;
}
.createNote_title::placeholder{
    color: #0e0d0d;
}

.note_save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: #180606;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}
.note_save:hover {
    background: #fff;
    border: 1.5px solid #fff;
    color: #4b1589;
}
.note_delete {
    cursor: pointer;
}
.note_delete:hover {
    transform: scale(1.1);
}
.char_progress {
    background-color: #fff !important;
}
.create_note{
    display: flex;
        flex-direction: column;
        flex-basis: fit-content;
        
        justify-content: space-between;
        width: 400px;
}


.MuiButton-root{
cursor: pointer!important;
    border: 1px solid #3a1212 !important;
    background-color: transparent !important;
    margin: 0 auto !important;
    width: 200px !important;
    color: #942727 !important;
    font-size: 15px !important;
    box-shadow: 0 6px 6px rgba(124, 62, 62, 0.6) !important;
    margin-top:20px;
}

.addNote_btn:hover{
    color:"#07000a"!important;
    background-color:"white"!important;

}

.createNote_message{
    text-transform:"uppercase";
    color:red;
}