html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;
    color: white;
        background-color: black;
}
.screen{
    text-align:right;
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
    padding:20px 5px;
}
.calc-buttons-row{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0.5%;
}
.calc-button{
   flex-basis:24.5%;
   text-align:center;
   font-family:'Courier New', Courier, monospace;
   font-size:30px;
   height:100px;
   background-color:#d8d9db;
   color:#000000;
   border:none;
   margin-right:0.25rem;
}
.calc-button:hover{
    background-color: #ebebeb;
}
.calc-button:active{
    background-color:#dd8d37;
}
.double{
flex-basis:49.5%;
}
.triple{
flex-basis:75%;
}
.calc-button:last-child{
    background-color: #df974c;
    color:white;
}
.calc-button:last-child:hover{
    background-color:#dfb07e;
}
.calc-button:last-child:active {
    background-color: #dd8d37;
}